---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ metallb.ip_pool_name | default('default-pool') }}
  namespace: metallb-system
spec:
  addresses:
  - {{ metallb.ip_pool_range }}

{% if metallb.mode == "layer2" %}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
{% endif %}

{% if metallb.mode == "bgp" %}
---
apiVersion: metallb.io/v1beta2
kind: BGPPeer
metadata:
  name: default
  namespace: metallb-system
spec:
  myASN: {{ metallb.bgp.my_asn }}
  peerASN: {{ metallb.bgp.peer_asn }}
  peerAddress: {{ metallb.bgp.peer_address }}
---
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: default
  namespace: metallb-system
{% endif %}